@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-color: #000;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-color);
}

select {
  background-color: var(--background-color);
  color: var(--foreground-rgb);
}
